/* frontend/src/css/dashboard.css */
.dashboard {
  position: fixed;
  height: 100vh; /* Keeps the sidebar full height */
  width: 100vw; /* Fixed width for sidebar */
  top: 0;
  left: 300px;
  background-color: #F4F7F8;
}

.dashboard-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #212529;
  padding-left: 40px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.chart-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.chart-card {
  background: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 38%; /* Allow two charts to be side-by-side */
}

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chart-wrapper {
  width: 100%;
  height: 300px; /* Set a fixed height that matches the Recharts container */
  overflow: hidden; /* Ensures the chart content doesn't overflow the rounded corners */
}


.statistics-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.statistics-card {
  background: white;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 38%;
}

.offenders-table {
  width: 100%;
  border-collapse: collapse;
}

.offenders-table th,
.offenders-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.offenders-table th {
  background-color: #f4f7f8;
  font-weight: 600;
}

.offenders-table tr:hover {
  background-color: #80C77F;
}




