.report {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 300px;
  background-color: #F4F7F8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.report-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  color: #212529;
  padding-left: 40px;
  width: 100%;
}

.report-chart-card {
  background: white;
  border-radius: 25px;
  width: 70%;
  max-width: 3000px;
  height: 90%;
  position: relative;
  margin-top: 0%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.table-container {
  overflow: hidden;
  max-height: 700px;
  width: 100%;
  overflow-y: auto;
  z-index: 1;
  margin-top: 30px;
  /* Remove box-shadow to eliminate the shadow */
  box-shadow: none !important;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table {
  border-collapse: collapse; /* Ensure cells are adjacent without borders */
  background-color: white;
  width: 100%;
  /* Remove any border from the table */
  border: none !important;
}


.table-row,
.table-cell {
  border: none !important; /* Ensure no borders on headers, rows, and cells */
  padding: 0; /* Ensure no padding or margins causing borders */
}



.table-row {
  transition: background-color 0.3s ease;
  background-color: #ffffff; /* Set row background to white */
}

.table-cell {
  padding: 15px;
  text-align: center;
  color: black; /* Adjust color for visibility */
  background-color: white; /* Set background color to white */
}


/* Add this to reports.css */

.row-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;  /* You can adjust the length here */
  height: 1px;  /* Line thickness */
  background-color: #dcdcdc;  /* Line color */
  margin: 0 auto;
}



.table-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1; /* Ensures the header stays on top of the table rows */
}



.filters {
  display: flex;
  flex-wrap: wrap; /* Makes filters responsive */
  justify-content: center; /* Centers the filters horizontally */
  margin-bottom: 20px;
}

.filters .MuiTextField-root, 
.filters .MuiFormControl-root {
  min-width: 200px; 
  max-width: 250px;
  width: 100%;
  margin: 10px; /* Adds some space between filter elements */
}

.filters .MuiInputBase-root {
  border-radius: 8px;
  background-color: #f9f9f9; 
}

.filters .MuiInputLabel-root {
  color: #555; 
  font-weight: bold; 
}

.filters .MuiOutlinedInput-root {
  transition: all 0.3s ease;
}

.filters .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #06715A; 
}

.filters .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #06715A; 
}

.filters .MuiButtonBase-root {
  background-color: #06715A;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.filters .MuiButtonBase-root:hover {
  background-color: #045943;
}
